@model List<Model.EF.Menu>
<div class="menu">
    <ul class="main-nav nav navbar-nav">
        @foreach (var item in Model)
        {           
            <li><a href="@item.Link">@item.Text</a></li>
        }

    </ul>
</div>
